.title-block {
    padding: 30px 0 0;
    text-align: center;

    &__title {
        display: inline-block;
        vertical-align: top;
        width: 419px;
        padding: 0 0 18px;
        font-family: $font_circle;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        font-variant: small-caps;
        letter-spacing: 0.9px;
        border-bottom: 2px solid $color_brown;
        color: $color_black;
    }
}